*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body, :root{
    height: 100%;
    width: 100%;
}

/* Tags */

body{
    background-color: #f0f0f0;
    padding: 5px;
}
header{
    text-align: center;
    width: 100%;
    height: 120px;
    background-color: #1d1c1c;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}
header div{
    display: flex;
    justify-content: space-between;
}
main{
    padding: 15px 5px;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
}
li{
    border: 1px solid #1d1c1c;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    list-style: none;
    transition: 0.5s;
}
main > div{
    display: flex;
    justify-content: center;
}
button{
    background-color: #1d1c1c;
    border: none;
    border-radius: 2px;
    padding: 10px;
    color: aliceblue;
    font-weight: 600;
    cursor: pointer;
}

/* restart */

#restart{
    background: transparent;
    color: #1d1c1c;
    border-radius: 2px;
    transition: 0.5s;
    cursor: pointer;
    visibility: hidden;
}

/* Hover effects */

li:hover{
    background-color: aliceblue;
}
button:hover{
    background-color: #3d3b3b;
}
#restart:hover{
    background-color: #797575;
    color: aliceblue;
}